img {
    border: 5px solid white;
    height: 200px;

}
*{
    background-color: black;
}
h1 {
    color: whitesmoke;
    font-family: "Edu NSW ACT Cursive", cursive;
}
p{
    color: white;
}
div{
    margin-top: 80px;

    text-align: center;

}
