img {
    border: 5px solid white;
    height: 500px;
    width: 100%;
}
*{
    background-color: black;
}
h1 {
    color: whitesmoke;
    font-family: "Edu NSW ACT Cursive", cursive;
}
p{
    color: white;
}
div{
    margin-top: 80px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}
